<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="io.grpc" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="tech.ydb.core.grpc" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="tech.ydb.coordination" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- https://www.testcontainers.org/supported_docker_environment/logging_config/ -->
        <Logger name="org.testcontainers" level="warn" />
        <Logger name="com.github.dockerjava" level="warn"/>
        <Logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="off"/>

        <Root level="debug" >
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>